<header class="header animated fadeIn" role="banner">
    
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>

    {{> components/common/navigation}}

    
    <div class="header-middle container-alt">
     <div>
    <div class="col-sm-3 col-md-2 col-lg-2 logo-container">

    {{#if template_file '===' 'pages/home'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
    
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </div>
    {{/if}}
    
    <div class="mobileSelectedAttributes"><i class="material-icons">shopping_cart</i></div>
    
    </div> <!-- logo container -->

	
    <div class="navPages-container col-sm-9 col-md-8 col-lg-8" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>
    
    
    <div class="col-md-2 col-lg-2 header-search-section">
		<div class="navPages-quickSearch header-search">
	        {{> components/common/quick-search}}
	    </div>
    </div>
    
    

		<div class="back-to-home" style="display: none;"><a href="/"><i class="material-icons">keyboard_backspace</i> Back to homepage</a></div>
		<div class="call-us-at" style="display: none;"><a href="#"><i class="material-icons">phone</i> 801-709-0972</a></div>

     </div>
    </div>
</header>


<section class="quickSearchResults desktop-search-results" data-bind="html: results"></section>

