<div class="lightbox-attributes">
	
	<div class="close"><i class="material-icons">close</i> Close</div>
	
	<div>	
	 <h1><span id="attribute-title"></span> ATTRIBUTES</h1>
	 <p class="description">Please select your gauge specifics below</p>
	 	 
	
	<div class="container">
		<div class="row">
			
		<div id="customFieldAttribute" ></div>	

		<div class="action-btn" ><p id="selectedGaugePrice"></p></div>
		<div class="action-btn"><a href="#" class="addGauge subimtGauge" >Add Gauge</a></div>
		<div class="action-btn"><a href="#" class="editGauge submitEditGauge" >Edit Gauge</a></div>
		
		<!--<a href="#" class="cancel">Cancel</a>-->		
					
			
		</div>
	</div> 	 
	 	 

	</div>
</div>
