---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel}}
    {{/if}}
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}
    
    </div> <!-- container ends -->

<div class="homepage-mini-banners" style="display: none;">
<div class="container">
<div class="row">

	<div class="homepage-banners">
		<div class="col-sm-6 col-md-3 col-lg-3">
			<a href="#"><img src="{{cdn '/assets/img/made-in-usa.jpg'}}" /></a>
		</div>

		<div class="col-sm-6 col-md-3 col-lg-3">
			<a href="#"><img src="{{cdn '/assets/img/custom-gauges.jpg'}}" /></a>
		</div>
		
		<div class="col-sm-6 col-md-3 col-lg-3">
			<a href="#"><img src="{{cdn '/assets/img/last-gauges.jpg'}}" /></a>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3">
			<a href="#"><img src="{{cdn '/assets/img/custom-gauges.jpg'}}" /></a>
		</div>		
	</div>


</div>
</div>
</div>


<div class="featured-stories">
 <div class="container">
	  <div class="row">
		  
		  <h2>Featured Stories</h2>
		  
		  <div class="story col-md-6 col-lg-6">
			  <div class="featured-image"><img src="{{cdn '/assets/img/featured-story1.jpg'}}" /></div>
			  <div class="category">Car Feature</div>
			  <div class="title">Resurrection: The Pikes Peak 20B 4WD RX-7</div>
			  <div class="date">May 30, 2017</div>
		  </div>

		  <div class="story col-md-6 col-lg-6">
			  <div class="featured-image"><img src="{{cdn '/assets/img/featured-story2.jpg'}}" /></div>
			  <div class="category">Car Spotlight</div>
			  <div class="title">This Is Stance Done Right</div>
			  <div class="date">May 29, 2017</div>
		  </div>		  

		  <div class="story col-md-6 col-lg-6">
			  <div class="featured-image"><img src="{{cdn '/assets/img/featured-story3.jpg'}}" /></div>
			  <div class="category">Car Feature</div>
			  <div class="title">The Collection Expands: Kato’s Mazda RX-3</div>
			  <div class="date">May 28, 2017</div>
		  </div>

		  <div class="story col-md-6 col-lg-6">
			  <div class="featured-image"><img src="{{cdn '/assets/img/featured-story4.jpg'}}" /></div>
			  <div class="category">Special Feature</div>
			  <div class="title">Return Of The Civic Si</div>
			  <div class="date">May 25, 2017</div>
		  </div>
		  
		  
	  </div>
 </div>
</div>




<div class="instagram-section">
 <div class="container">
 	<h2>The Latest</h2>
 	<div class="instagram-feed">
	 	<div id="instafeed"></div>
 	</div>
 </div> <!-- container -->
</div> <!-- instagram section -->


    
<div class="about-section">
<div class="container">
<div class="row">
 
  <div class="col-md-6 col-lg-3 box-info">
  	<div class="inner">
	<div class="img hvr-ripple-out"><i class="material-icons">directions_car</i></div>
  	<h3>Our History</h3>
  	<p>With over 10 years of success and growth in the extremely competitive international gauge market, we continually strive to stay ahead of the competition with innovative design, solid engineering, while manufacturing all of our products in the USA.</p>
  	<a href="#">Find Out More <i class="material-icons">arrow_forward</i></a>
  	</div>
  </div>
 
  <div class="col-md-6 col-lg-3 box-info">
	  <div class="inner">
	<div class="img hvr-ripple-out"><i class="material-icons">directions_car</i></div>
  	<h3>Our Technology</h3>
  	<p>Packed full of technologies and features you won’t find in any other gauge, and built with the same type of heavy-duty materials in things like race cars - the Speedhut® gauge is perfect for roads and race tracks, dragstrips and rough terrain, or any wild ride you take.</p>
  	<a href="#">Find Out More <i class="material-icons">arrow_forward</i></a>
	  </div>
  </div>
 
 


  <div class="col-md-6 col-lg-3 box-info">
	  <div class="inner">
	<div class="img hvr-ripple-out"><i class="material-icons">directions_car</i></div>
  	<h3>Our Guarantee</h3>
  	<p>With the finest custom-built gauges around—each carefully hand-crafted and made of hardwearing components, built to perform in the harshest conditions and designed to last forever—there is no better solution for your dash than a Speedhut® gauge.</p>
  	<a href="#">Find Out More <i class="material-icons">arrow_forward</i></a>
	  </div>
  </div>
 
  <div class="col-md-6 col-lg-3 box-info">
	  <div class="inner">
	<div class="img hvr-ripple-out"><i class="material-icons">directions_car</i></div>
  	<h3>Made In USA</h3>
  	<p>With over 10 years of success and growth in the extremely competitive international gauge market, we continually strive to stay ahead of the competition with innovative design, solid engineering, while manufacturing all of our products in the USA.</p>
  	<a href="#">Find Out More <i class="material-icons">arrow_forward</i></a>
	  </div>
  </div>
 



</div> <!-- row -->
</div> <!-- container -->   
</div> <!-- about section -->



<div class="testimonials-section" style="display: none;">
<div class="container">
   <div class="row">
    	    
	    <div class="col-lg-12">
		    <div class="small-heading">Testimonials</div>
		    <h2>Happy Customers.</h2>
	    </div>
	    
	    <div class="col-md-4 col-lg-4">
		    <div class="name">
			 <p><img src="{{cdn '/assets/img/thumb-testimonial-1.jpg'}}">Jared Bottoms</p>
			 <p class="date">January 13th, 2017</p>
			</div>
		    <p>"I love my CJ cluster. Way better than any other aftermarket cluster (basically only one, which is junk). Instructions were great, and quality is perfect. I will definitely be recommending this in the CJ Jeep community."</p>
		    <p><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i></p>
	    </div>
	    <div class="col-md-4 col-lg-4">
		    <div class="name">
			 <p><img src="{{cdn '/assets/img/thumb-testimonial-2.jpg'}}">Jesse Roede</p>
			 <p class="date">March 20th, 2016</p>
			</div>
		    <p>"Hands down best gauges out there and with customer service to match! I ordered a set of gauges and the color wasn't quite what I expected so I contacted customer care and they took them back and changed it to the color that I wanted for a very small fee. Was back at my door a week later."</p>
		    <p><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i></p>
	    </div>
	     <div class="col-md-4 col-lg-4">
		    <div class="name">
			 <p><img src="{{cdn '/assets/img/thumb-testimonial-3.jpg'}}">Steven Lawrence</p>
			 <p class="date">August 14th, 2015</p>
			</div>
		    <p>"Got in an order of gauges from SpeedHut and they definitely exceeded my expectations. They are amazing quality. I'm definitely using them from here on out if I ever need gauges again."</p>
		    <p><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i></p>
	    </div>    

	    
	    <div class="col-md-12 col-lg-12">
	   	 <a href="#" class="button">View More Testimonials</a>
	    </div>
	 
	    
    </div>
   </div>
</div>

    
  




 <div class="oem-partners">
	  <div class="container">
		  <div class="row">
			
			<div class="col-sm-12 col-md-12 col-lg-12">
				<h3>OEM Partners</h3>
			</div>
			
			<div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-3">
				<img src="{{cdn '/assets/img/brand-msd.jpg'}}" />
			</div>
			
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<img src="{{cdn '/assets/img/brand-holley-efi.jpg'}}" />
			</div>
			
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<img src="{{cdn '/assets/img/brand-bosch.jpg'}}" />
			</div>
				
		
	  </div>
	 </div>
 </div>
 
 <style>
	 .body {margin-bottom: 0;}
 </style>

{{/partial}}
{{> layout/base}}
