<!-- TEMPORARY FOR TESTING -->
<style>
  .test-container-one {
    border: 3px solid blue;
    min-width: 40px;
    min-height: 40px;
  }
</style>

<div id="popup-step1" class="white-popup mfp-with-anim mfp-hide">
  	    <h2 id="modaltitle"></h2>
  		<div id="modaldescription"></div>
</div>

<div id="popup-step2" class="white-popup lightbox-attributes mfp-with-anim mfp-hide">
 	<h1><span id="attribute-title"></span> FEATURES</h1>
	<p class="description">Please select your gauge specifics below</p>
	<div id="customFieldAttribute" ></div>
	<div class="action-btn" ><p id="selectedGaugePrice"></p></div>
	<div class="action-btn"><a href="#" class="addGauge subimtGauge" >Add Gauge</a></div>
	<div class="action-btn"><a href="#" class="editGauge submitEditGauge" >Edit Gauge</a></div>
</div>


{{> components/common/lightbox-styles}}


<div id="CustomizerContainer">

	<div class="stepper">
<!-- 	 <ul data-tab="" class="tabs" > -->
	<ul>
        <li class="tab is-active" id="step-1"><a class="Step One" aria-selected="true" tabindex="0" id="first-step" >1<span>. Select by application, style or car</span></a></li>
        <li class="tab sub" id="step-2"><a class="Step-Two" data-effect="mfp-zoom-in" tabindex="0" id="second-step" >2<span>. Select the gauges & features</span></a></li>
        <li class="tab sub" id="step-3"><a class="Step Three" tabindex="0" id="third-step">3<span>. Customize the gauge</span></a></li>
     </ul>
	</div>

	<div class="container">

    <div class="tabs-contents">

        <div id="step-one" class="tab-content" aria-hidden="false">
			<h1>Get Started</h1>
			<p>Please select by application, style or car models</p>

			<ul class="cards" id="customize-started"></ul>

        </div>

        <div id="step-two" class="tab-content">
			<h1 id="style-page-title"></h1>
			<p>Please select a gauge below to edit and add to your basket for customizing</p>


			<div class="col-md-9 col-lg-9">

			<ul class="cards" id="allAvaiable">

<!-- 				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Speedometer</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a class="gaugeType">Select Gauge Attributes</a></div>
					</div>
				</li>

				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Tacometer</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a class="gaugeType">Select Gauge Attributes</a></div>
					</div>
				</li>

				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Dual GPS</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a class="gaugeType">Select Gauge Attributes</a></div>
					</div>
				</li>

				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Quad</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a class="gaugeType">Select Gauge Attributes</a></div>
					</div>
				</li>

				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Fuel Level</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a class="gaugeType">Select Gauge Attributes</a></div>
					</div>
				</li>

				<li class="card-item">
					<div class="img style-img"><img src="{{cdn '/assets/img/style-demo.jpg'}}" /></div>
					<div class="card-content">
						<div class="title">Pressure</div>
						<div class="description">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is text is just text.</div>
						<div class="action-btn"><a class="gaugeType">Select Gauge Attributes</a></div>
					</div>
				</li> -->


			</ul>

			</div>


			<div class="col-md-3 col-lg-3 gauges-selected">
				<div class="wrapper">
					<h2>Gauges You Selected</h2>
					<ul id="gaugeSelected"></ul>
					<hr>
					<p style="margin:0;padding:0;" >Total: $<span id="gaugetotal" >0.00</span></p>
					<div class="action-btn">
						<a class="customizeNow">Start Customizing Now</a>
					</div>
				</div>
			</div>


        </div>


        <div id="step-three" class="tab-content">
			<!--<h1>Customizer</h1>
			<p>Please start customizer your gauges here...</p>-->
			<div id="allThemes">
				{{> components/products/stepthree}}
			</div>
        </div>

    </div>
</div>
